@font-face {
    font-family: 'American Captain';
    src: url('./font/american-captain-font/AmericanCaptain-MdEY.otf') format('truetype');
}

@font-face {
    font-family: 'FTY SKRADJHUWN NCV 1';
    src: url('./font/fty-font/FtySkradjhuwnNcv1-6dmo.ttf') format('truetype');
}

/* layout */

body { 
    background-color: black;
    font-family: American Captain;
    color: white;
    padding: 20px 75px;
}

.header {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding-left: 20px;
}

#content {
    width: 100%;
}

.header__logo {
    width: 110px;
    height: 96px;
}

.header__title {
     display: flex; 
     flex-direction: column;   
}

.header__title--above {
  font-size: 42px;
}

.header__title--under {
    font-size: 30px;
    color: #808080;
}

.menu {
    margin-left: auto;
}

.menu nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.menu nav li a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

.logos {
    background-color: #FFFEAD;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: calc(100% + 110px);
}

.logos .logo1 {
    width: 201px;
    height: 69px;
}

.logos .logo3 {
    width: 148px;
    height: 82px;
}

.logos .logo1 {
    width: 85px;
    height: 79px;
}

.logos .logo1 {
    width: 148px;
    height: 93px;
}

.footer {
    background : #7E1616;
    height: 250px;
    padding-top: 10px;
    display: flex;
    width: calc(100% + 110px);
    justify-content: space-between;
}

.footer .footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer .footer__left .menu {
    width: 100%;
    margin-left: unset;
}

.footer .footer__left .copy-right {
    margin: 0 0 20px 40px;
}

.footer .footer__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 20px;
   
}

.footer .footer__right .footer__icon {
    background-color: #C0C1C1;
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer .footer__right .footer__icon .fb {
    width: 12px;
    height: 20px;
}

.footer .footer__right .footer__icon .ig {
    width: 22px;
    height: 22px;
}

.footer .footer__right .footer__icon .yt {
    width: 27px;
    height: 18px;
}

/* content page */
.content-container {
    margin-top: 100px;
    margin-bottom: 100px;
    width: calc(100% + 110px);
    position: relative;
}

.white-bg {
    position: absolute;
    z-index: -10;
    width: 100%;
    bottom:0;
}

.content-list {
    width: 100%;
    position: relative;
}

.content-list__pillar {
    position: absolute;
    left: 50%;
    height: 100%;
    background-color: #C0C1C1;
    border-radius: 4px;
    width: 10px;
}

.pillar__dot {
    position: absolute;
    left: 49%;
    bottom: -100px;
    width: 2%;
    height: 100px;
}

.pillar__dot .content-list__pillar--dot-1 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C0C1C1;
    border-radius: 50%;
    top: 10px;
    left: 50%; 
    transition: top 0.3s;
}

.pillar__dot .content-list__pillar--dot-2 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C0C1C1;
    border-radius: 50%;
    left: 50%; 
    top: 25px;
    transition: top 0.3s;
}

.pillar__dot .content-list__pillar--dot-3 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C0C1C1;
    border-radius: 50%;
    left: 50%; 
    top: 40px;
    transition: top 0.3s;
}

.pillar__dot:hover .content-list__pillar--dot-1 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C0C1C1;
    border-radius: 50%;
    left: 50%; 
    top: 20px;
}

.pillar__dot:hover .content-list__pillar--dot-2 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C0C1C1;
    border-radius: 50%;
    bottom: -60px;
    left: 50%; 
    top: 40px;
}

.pillar__dot:hover .content-list__pillar--dot-3 {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C0C1C1;
    border-radius: 50%;
    bottom: -85px;
    left: 50%; 
    top: 60px;
}

.list__item .list__item--img img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.list__item .list__item--img img:hover {
    transform: scale(1.1);
}

/* first */
.list__item.order-1:not(:first-child) {
    margin-top: -12%;
}

.list__item.order-1 .list__item--img {
    width: 20%;
    margin-left: 25%;
    margin-top: 20px;
    position: relative;
    height: 100%;
}

.list__item.order-1 .list__item--img img {
    width: 100%;
}

.list__item.order-1 .list__item--bridge {
    position: absolute;
    height: 10px;
    width: 40%;
    left: 89%;
    top: 40%;
    background: white;
}

.list__item.order-1 .list__item--note {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    left: 117%;
    bottom: 47.5%;
    border-radius: 50%;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-family: 'FTY SKRADJHUWN NCV 1';
}

.list__item.order-1 .list__item--text {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.list__item.order-1 .list__item--text .above {
    font-size: 29px;
}

.list__item.order-1 .list__item--text .below {
    font-size: 20px;
}

/* second */
.list__item.list__item.order-2 {
    margin-top: -10%;
}

.list__item.order-2 .list__item--img {
    width: 20%;
    margin-left: 57%;
    margin-top: 20px;
    position: relative;
    height: 100%;
}

.list__item.order-2 .list__item--img img {
    width: 80%;
}

.list__item.order-2 .list__item--bridge {
    position: absolute;
    height: 10px;
    width: 40%;
    left: -40%;
    top: 40%;
    background: white;
}

.list__item.order-2 .list__item--note {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    left: -43.5%;
    bottom: 43.5%;
    border-radius: 50%;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-family: 'FTY SKRADJHUWN NCV 1';
}

.list__item.order-2 .list__item--text {
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.list__item.order-2 .list__item--text .above {
    font-size: 18px;
}

.list__item.order-2 .list__item--text .below {
    font-size: 12px;
}

/* third */

.list__item.order-3 .list__item--img {
    width: 20%;
    margin-left: 57%;
    margin-top: 20px;
    position: relative;
    height: 100%;
}

.list__item.order-3 .list__item--img img {
    width: 90%;
}

.list__item.order-3 .list__item--bridge {
    position: absolute;
    height: 10px;
    width: 40%;
    left: -40%;
    top: 40%;
    background: white;
}

.list__item.order-3 .list__item--note {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    left: -42.5%;
    bottom: 45.5%;
    border-radius: 50%;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-family: 'FTY SKRADJHUWN NCV 1';
}

.list__item.order-3 .list__item--text {
    margin-top: 10px;
    width:90%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.list__item.order-3 .list__item--text .above {
    font-size: 22px;
}

.list__item.order-3 .list__item--text .below {
    font-size: 14px;
}